<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Hello : <span class="orange strong">Kimaro kyoto</span></h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 profiel-container">

        <form (ngSubmit)="submit()" [formGroup]="userProfileForm" id="uerProfile-form">
          <div class="profiel-header">
            <h3>
              <b>BUILD</b> YOUR PROFILE <br>
              <small>This information will let us know more about you.</small>
            </h3>
            <hr>
          </div>

          <div class="clear">
            <div class="col-sm-3 col-sm-offset-1">
              <div class="picture-container">
                <div class="picture">
                  <img [src]="imgSrc" class="picture-src" #upload  id="wizardPicturePreview" title=""/>
                  <input type="file" id="wizard-picture" name="avatar" formControlName="avatar"
                         (change)="showPreview($event)">
                </div>
                <h6 (click)="upload.click()">Choose Picture</h6>
              </div>
            </div>

            <div class="col-sm-3 padding-top-25">

              <div class="form-group">
                <label>Name <small>(required)</small></label>
                <input name="name" type="text" formControlName="name" class="form-control" placeholder="Enter name" [value]="currentUser.name">
              </div>
              <div class="form-group">
                <label>Email <small>(required)</small></label>
                <input name="email" type="email" formControlName="email" placeholder="abc123@example.com" class="form-control" placeholder="Enter email..." [value]="currentUser.email">
              </div>
              <div class="form-group">
                <label>Phone Number <small>(required)</small></label>
                <input name="phone_number" type="text" formControlName="phone_number" class="form-control" placeholder="Enter phone number..." [value]="currentUser.phoneNumber">
              </div>
            </div>
            <div class="col-sm-3 padding-top-25">
              <div class="form-group">
                <label>Address <small>(required)</small></label>
                <input name="address" type="text" formControlName="address" class="form-control" [value]="currentUser.address">
              </div>
            </div>

          </div>

          <div class="clear">
            <br>
            <hr>
            <br>
            <div class="col-sm-5 col-sm-offset-1">
              <div class="form-group">
                <label>Facebook :</label>
                <input name="Facebook" type="text" class="form-control" placeholder="https://facebook.com/user">
              </div>
              <div class="form-group">
                <label>Twitter :</label>
                <input name="Twitter" type="text" class="form-control" placeholder="https://Twitter.com/@user">
              </div>
              <div class="form-group">
                <label>Website :</label>
                <input name="website" type="text" class="form-control" placeholder="https://yoursite.com/">
              </div>
            </div>

            <div class="col-sm-5">
              <div class="form-group">
                <label>Public email :</label>
                <input name="p-email" type="email" class="form-control" placeholder="p-email@rmail.com">
              </div>
              <div class="form-group">
                <label>Phone :</label>
                <input name="Phone" type="text" class="form-control" placeholder="+1 9090909090">
              </div>
              <div class="form-group">
                <label>FAX :</label>
                <input name="FAX" type="text" class="form-control" placeholder="+1 9090909090">
              </div>
            </div>

          </div>

          <div class="col-sm-5 col-sm-offset-1">
            <br>
            <input type='submit' class='btn btn-finish btn-primary' name='finish' value='Finish' />
          </div>
          <br>
        </form>

      </div>
    </div><!-- end row -->

  </div>
</div>
