<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Hello :
          <span class="orange strong" *ngIf="currentUser.name">{{currentUser.name}}</span>
          <span class="orange strong" *ngIf="!currentUser.name">{{currentUser.username}}</span>
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 profiel-container">

        <form (ngSubmit)="submit()" [formGroup]="userProfileForm" id="uerProfile-form">
          <div class="profiel-header">
            <h3>
              <b>BUILD</b> YOUR PROFILE <br>
              <small>This information will let us know more about you.</small>
            </h3>
            <hr>
          </div>

          <div class="clear">
            <div class="col-sm-3 col-sm-offset-1">
              <div class="picture-container">
                <div class="picture">
                  <img [src]="currentUser.avatar" class="picture-src" #upload  id="wizardPicturePreview" title=""/>
                  <input type="file" id="wizard-picture" name="avatar" formControlName="avatar"
                         (change)="showPreview($event)">
                </div>
                <h6 (click)="upload.click()">Choose Picture</h6>
              </div>
            </div>

            <div class="col-sm-3 padding-top-25">

              <div class="form-group">
                <label>Name <small>(required)</small></label>
                <input name="name" type="text" formControlName="name" class="form-control" placeholder="Enter name"
                       [value]="currentUser.name" [(ngModel)]="currentUser.name">
              </div>
              <div class="form-group">
                <label>Email <small>(required)</small></label>
                <input name="email" type="email" formControlName="email" placeholder="abc123@example.com"
                       class="form-control" placeholder="Enter email..." [value]="currentUser.email"
                       [(ngModel)]="currentUser.email">
              </div>
              <div class="form-group">
                <label>Phone Number <small>(required)</small></label>
                <input name="phone_number" type="text" formControlName="phone_number" class="form-control" placeholder="Enter phone number..." [value]="currentUser.phoneNumber">
              </div>
            </div>
            <div class="col-sm-3 padding-top-25">
              <div class="form-group">
                <label>Address <small>(required)</small></label>
                <input name="address" type="text" formControlName="address" class="form-control" [value]="currentUser.address">
              </div>
            </div>

          </div>
            <br>
            <input style="margin-left: 47%;" type='submit' class='btn btn-finish btn-primary' name='finish' value='Finish' />
          <br>
        </form>
      </div>
      <app-change-pass></app-change-pass>
    </div><!-- end row -->
  </div>
</div>
