<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Submit new property</h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="clearfix" >
      <div class="wizard-container">

        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <form action="" method="post" [formGroup]="apartForm" id="apartment-form" (ngSubmit)="createImage()">
            <div class="row col-sm-12">
              <div class="col-sm-4"></div>
              <div class="col-sm-6">
                <div class="wizard-header">
                  <h3>
                    <b>Submit</b> YOUR APARTMENT <br>
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
                  </h3>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>

            <div class="tab-content">
              <!--  End step 1 -->
              <div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Apartment Name</label>
                        <input name="name" type="text" class="form-control" placeholder="Super villa ..." formControlName="name">
                      </div>
                      <div class="form-group">
                        <label>Apartment Value</label>
                        <input name="value" type="text" class="form-control" placeholder="3330000" formControlName="value">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Property Description :</label>
                        <textarea name="description" class="form-control" placeholder="Description ...." formControlName="description"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Province :</label>
                        <select class="show-tick form-control" formControlName="province" name="pro_id" (change)="getAllDistrictsByProvinceId(pro_id)" [(ngModel)]="pro_id">
                          <option  *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>District :</label>
                        <select  class="show-tick form-control" formControlName="district" name="dis_id" (change)="getAllWardsByDistrictId(dis_id)" [(ngModel)]="dis_id">
                          <option *ngFor="let dis of districts" [value]="dis.id">{{dis.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <label>Wards :</label>
                      <select  class="show-tick form-control" name="ward" formControlName="ward" >
                        <option *ngFor="let war of wards" [value]="war.id">{{war.name}}</option>
                      </select>
                    </div>
                    <div class="col-sm-12 padding-top-15">
                      <div class="form-group">
                        <label>Address <small>(required)</small></label>
                        <input name="address" type="text" class="form-control" placeholder="Address...." formControlName="address">
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-12 padding-top-15" style="margin-left: -15px">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="col-sm-12 padding-top-15">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Bedroom</label>
                              <input name="bedroom" type="number" class="form-control" placeholder="Bedroom...." formControlName="bedroom">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Bathroom</label>
                              <input name="bathroom" type="number" class="form-control" placeholder="Bathroom...." formControlName="bathroom">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="col-sm-12 padding-top-15">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Vip Room
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Luxury Room
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Single Room
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 padding-bottom-15">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" (change)="toggleEditable($event)"> Couple Room
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> President Room
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 padding-top-15">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="property-images">Chose Images :</label>
                        <input class="form-control" formControlName="image" name="image" type="file" id="property-images" multiple (change)="showPreview($event)">
                        <p class="help-block">Select multipel images for your property .</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <p>
                        <label><strong>Terms and Conditions</strong></label>
                        By accessing or using  GARO ESTATE services, such as
                        posting your property advertisement with your personal
                        information on our website you agree to the
                        collection, use and disclosure of your personal information
                        in the legal proper manner
                      </p>
                      <div class="checkbox" style="margin-left: -20px">
                        <label>
                          <input type="checkbox" /> <strong> Accept termes and conditions.</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 padding-top-15">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                      <div style="width: 100px"><input type='submit' class='btn btn-finish btn-primary' name='finish' value='Finish' /></div>
                    </div>
                    <div class="col-sm-5"></div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
        <!-- End submit form -->
      </div>
    </div>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
