<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="col-md-12 padding-bottom-40 large-search">
        <div class="search-form wow pulse">
          <form action="/" method="get" (ngSubmit)="submitSearch()" class=" form-inline">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Province</label>
                  <select class="show-tick form-control" id="pro_id" style="width: 300px;"  name="pro_id" (change)="getAllDistrictsByProvinceId(pro_id)" [(ngModel)]="pro_id">
                    <option value="" selected>Select a province</option>
                    <option  *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>District</label>
                  <select title="Chọn Quận/Huyện"  class="show-tick form-control" id="dis_id"  style="width: 300px;" name="dis_id" (change)="getAllWardsByDistrictId(dis_id)" [(ngModel)]="dis_id">
                    <option value="" selected></option>
                    <option *ngFor="let dis of districts" [value]="dis.id">{{dis.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <label>Ward</label>
                <select  class="show-tick form-control" name="ward" id="ward_id" style="width: 300px;">
                  <option value="" selected></option>
                  <option *ngFor="let war of wards" [value]="war.id">{{war.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 ">
              <div class="search-row">
                <div class="col-md-4 row">
                    <div class="col-sm-6">
                      <label for="input-bedroom" class="form-label">Bedroom</label>
                      <input type="number" id="input-bedroom" class="form-control" >
                    </div>

                  <div class="col-sm-6">
                    <label for="input-bathroom" class="form-label">Bathroom</label>
                    <input type="number" id="input-bathroom" class="form-control" >
                  </div>
                  </div>
                <div class="col-md-8 row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5">
                    <label for="price-range">Price</label>
                    <input type="text" class="span2" value="" data-slider-min="0"
                             data-slider-max="5000" data-slider-step="10"
                             data-slider-value="[0,5000]"  [defaultValue]="[0,5000]" id="price-range" ><br />
                    <b class="pull-left color">$0</b>
                    <b class="pull-right color">$5000</b>
                  </div>
                </div>
            </div>
              <div class="search-row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <select class="show-tick form-control" id="vipRoom" style="width: 150px;">
                      <option value="">Vip Room</option>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <select class="show-tick form-control" id="luxuryRoom" style="width: 150px;">
                      <option value="">Luxury Room</option>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <select class="show-tick form-control" id="singleRoom" style="width: 150px;">
                      <option value="">Single Room</option>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <select class="show-tick form-control" id="coupleRoom" style="width: 150px;">
                      <option value="">Couple Room</option>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <select class="show-tick form-control" id="presidentRoom" style="width: 150px;">
                      <option value="">President Room</option>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
            <div class="col-sm-12 padding-top-15">
              <div class="col-md-4">
                <label id="">Check In</label>
                <input type="text" id="timeCheckIn" style=" width: 300px"  class="form-control datepicker" [defaultValue]="" placeholder="Pick Date Check in">
              </div>
              <div class="col-md-4">
                <label >Check Out</label>
                <input type="text" id="timeCheckOut" style=" width: 300px"   class="form-control datepicker" [defaultValue]=" " placeholder="Pick Date Check out">
              </div>
            </div>
            <div class="col-sm-12 padding-top-25">
              <div class="col-sm-5"></div>
              <div class="col-sm-6">
                <input type="submit" name="submit" value="submit">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-12  clear">
        <div class="col-xs-10 page-subheader sorting pl0">
          <ul class="sort-by-list">
            <li class="active">
              <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                Property Date <i class="fa fa-sort-amount-asc"></i>
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                Property Price <i class="fa fa-sort-numeric-desc"></i>
              </a>
            </li>
          </ul><!--/ .sort-by-list-->

  <!--        <div class="items-per-page">
            <label for="items_per_page"><b>Property per page :</b></label>
            <div class="sel">
              <select id="items_per_page" name="per_page">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
                <option selected="selected" value="12">12</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
              </select>
            </div>&lt;!&ndash;/ .sel&ndash;&gt;
          </div>&lt;!&ndash;/ .items-per-page&ndash;&gt;-->

        </div>

        <div class="col-xs-2 layout-switcher">
          <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
          <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
        </div><!--/ .layout-switcher-->
      </div>

      <div class="col-md-12 clear ">
        <div id="list-type" class="proerty-th">
          <ng-container *ngFor="let apartment of apartments | paginate: { itemsPerPage: 1, currentPage: p }">
            <div class="col-sm-6 col-md-3 p0" style="height: 390px">
            <div class="box-two proerty-item">
              <div class="item-thumb">
                <a [routerLink]="['/detail/'+apartment.id]"><img [src]="apartment.avatar" style="height: 170px;"></a>
              </div>
              <div class="item-entry overflow">
                <h5><a href="property-1.html"> {{apartment.name}} </a></h5>
                <div class="dot-hr"></div>
                <span class="pull-left"><b> Area :</b> 120m </span>
                <span class="proerty-price pull-right"> $ {{apartment.value}}</span>
                <p style="display: none;">{{apartment.description}}</p>
                <div class="property-icon">
                  <img src="assets/img/icon/bed.png">({{apartment.bedroom}})|
                  <img src="assets/img/icon/shawer.png">({{apartment.bathroom}})|
                  <img src="assets/img/icon/cars.png">(1)
                </div>
              </div>
            </div>
          </div>
          </ng-container>
        </div>
      </div>

      <div class="col-md-12 clear">
        <div class="pull-right">
            <pagination-controls (pageChange)="p = $event" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
