<div class="header-connect">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-8  col-xs-12">
        <div class="header-half header-call">
          <p>
            <span><i class="pe-7s-call"></i> 0988 888 888</span>
            <span><i class="pe-7s-mail"></i> greatBrothers@gmail.com</span>
          </p>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
        <div class="header-half header-social">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-vine"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End top header -->
