<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Home New account / Sign in </h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->
<!-- register-area -->
<div class="register-area" style="background-color: rgb(249, 249, 249);">
  <div class="container">

    <div class="col-md-6">
      <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 register-blocks">
          <h2>New account : </h2>
          <form action="" method="post" [formGroup]="registerForm" (ngSubmit)="createUser()"  id="register-form">
            <div class="form-group">
              <label>User Name</label>
              <input type="text" name="name" class="form-control" formControlName="name">
              <div style="color: red;" *ngIf="existUsername">
                {{existUsername}}
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"  class="form-control" id="password" formControlName="password" name="password">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input  type="password"  class="form-control" formControlName="confirmPassword" name="confirmPassword">
            </div>
            <div class="text-center">
              <span style="font-weight: bold" *ngIf="output">{{output}}</span><br>
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 login-blocks">
          <h2>Login : </h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="text-center">
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{loginFail}}</div>
              <button [disabled]="loading" class="btn btn-default">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
              </button>
            </div>
          </form>
          <br>

          <h2>Social login : </h2>

          <a id="loginRef" style="color: white" class="g-signin2 btn btn-block btn-danger" href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:4200/login-google&response_type=code
    &client_id=561611648857-c5mrt1fafm2da053ojdpkm282psk768o.apps.googleusercontent.com">
            <i class="fab fa-google-plus mr-2"></i>
            Đăng nhập với Google</a>
        </div>
      </div>
    </div>

  </div>
</div>
