<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Home New account / Sign in </h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->


<!-- register-area -->
<div class="register-area" style="background-color: rgb(249, 249, 249);">
  <div class="container">

    <div class="col-md-6">
      <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 register-blocks">
          <h2>New account : </h2>
          <form action="" method="post" [formGroup]="apartmentForm" id="apartment-form">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name"
                     class="form-control" formControlName="name"
                     [ngClass]="{'is-invalid': apartmentForm.get('name')!.invalid && apartmentForm.get('name')!.touched}">
              <div *ngIf="apartmentForm.get('name')!.invalid && apartmentForm.get('name')!.touched" class="error">
                <div>*bạn phải nhập tên</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input  type="text"  class="form-control" name="email" formControlName="email"
                      [ngClass]="{'is-invalid': apartmentForm.get('email')!.invalid && apartmentForm.get('email')!.touched}">
              <div *ngIf="apartmentForm.get('email')!.invalid && apartmentForm.get('email')!.touched" class="error">
                <div>*bạn phải nhập email</div>
                <div>*bạn phải nhập đúng định dạng email</div>
              </div>

            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"  class="form-control" id="password" formControlName="password"
                     [ngClass]="{'is-invalid': apartmentForm.get('password')!.invalid && apartmentForm.get('password')!.touched}">
              <div *ngIf="apartmentForm.get('password')!.invalid && apartmentForm.get('password')!.touched" class="error">
                <div>*bạn phải nhập mật khẩu</div>
                <div>*bạn phải nhập tối thiểu 6 ký tự</div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 login-blocks">
          <h2>Login : </h2>
          <form action="" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" >
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-default"> Log in</button>
            </div>
          </form>
          <br>

          <h2>Social login :  </h2>

          <p>
            <a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
            <a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a>
            <a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
          </p>
        </div>

      </div>
    </div>

  </div>
</div>
