<nav class="navbar navbar-default ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html" style="padding: 0; margin: 10px 0 0 0 ;"><img src="assets/img/logo.png" style="width: 130px; height: 58px" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse yamm" id="navigation">
      <div class="button navbar-right">
        <button class="navbar-btn nav-button wow bounceInRight login" *ngIf="!isUserLoggedIn" routerLink="/login" data-wow-delay="0.4s">Login</button>
      </div>
      <ul class="main-nav nav navbar-nav navbar-right">
        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
          <a href="index.html" class="dropdown-toggle active" data-toggle="dropdown" routerLink="" data-hover="dropdown" data-delay="200">Home</a>
        </li>

        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="" [routerLink]="['/list']" >Properties</a></li>
        <li class="dropdown yamm-fw" data-wow-delay="0.1s">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Home pages</h5>
                    <ul>
                      <li>
                        <a href="index.html">Home Style 1</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Pages and blog</h5>
                    <ul>
                      <li><a href="blog.html">Blog listing</a>  </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Property</h5>
                    <ul>
                      <li><a href="property-1.html">Property pages style (1)</a> </li>
                    </ul>

                    <h5>Properties list</h5>
                    <ul>
                      <li><a [routerLink]="['/list']">properties list</a> </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Property process</h5>
                    <ul>
                      <li><a href="submit-property.html">Submit - step 1</a> </li>
                    </ul>
                    <h5>User account</h5>
                    <ul>
                      <li><a href="register.html">Register / login</a>   </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.yamm-content -->
            </li>
          </ul>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.4s"><a routerLink="/contact">Contact</a></li>
        <li class="dropdown yamm-fw" data-wow-delay="0.1s" *ngIf="isUserLoggedIn" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" *ngIf="currentUser.name " data-delay="200">{{currentUser.name}}<b class="caret"></b></a>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" *ngIf="!currentUser.name " data-delay="200">Đầu Cắt Moi<b class="caret"></b></a>
          <ul class="dropdown-menu" style="width: 250px; margin-left: 1000px">
            <li>
              <div class="yamm-content" >
                <div class="row" >
                  <ul>
                    <li><a routerLink="/user-frofile">Your Profile</a> </li>
                  </ul>
                  <ul>
                    <li><a routerLink="/user-house">Your House</a></li>
                  </ul>
                  <ul>
                    <li><a routerLink="/user-house">Your Rent List</a> </li>
                  </ul>
                  <ul>
                    <li><a routerLink="/change-pass">Change Pass</a></li>
                  </ul>
                  <ul>
                    <li><a routerLink="#" (click)="logout()">Log Out</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.yamm-content -->
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End of nav bar -->
