<div class="slide-2">
  <div id="slider" class="sl-slider-wrapper">
    <div class="sl-slider">
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
        <div class="sl-slide-inner ">

          <div class="bg-img bg-img-1"
               style="background-image: url(https://cdn.wallpapersafari.com/84/94/GsTFqk.jpeg); background-repeat: no-repeat; background-position: bottom ;"></div>
          <blockquote><cite><a href="property.html">Best Slogan</a></cite>
            <p>Build something 100 people love, not something 1 million people kind of like.
            </p>
            <span class="pull-left"><b>Brian Chesky Aibnd Fouder</b></span>
            <div class="property-icon">
            </div>
          </blockquote>
        </div>
      </div>

      <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

        <div class="sl-slide-inner ">

          <div class="bg-img bg-img-1" style="background-image: url(https://wallpaperaccess.com/full/2056380.jpg);"></div>
            <blockquote><cite><a href="property.html">Best Slogan</a></cite>
              <p>Travel is a new experience that can transport you out of your everyday routine to create memories with the ones you love.
              </p>
              <span class="pull-left"><b>Brian Chesky Aibnd Fouder</b></span>
              <div class="property-icon"></div>
            </blockquote>
        </div>
      </div>

      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

        <div class="sl-slide-inner ">

          <div class="bg-img bg-img-1" style="background-image: url(assets/img/slide2/3.jpg);"></div>
          <blockquote><cite><a href="property.html">Best Slogan</a></cite>
            <p>I have had a long, long life full of troubles, but there is one curious fact about them-nine-tenths of them never happened.
            </p>
            <span class="pull-left"><b>Andrew Carnegie</b></span>
            <div class="property-icon"></div>
          </blockquote>
        </div>
      </div>


      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner ">
          <div class="bg-img bg-img-1" style="background-image: url(https://photos.zillowstatic.com/fp/e633b26a07d7318a2671c08d39de734b-cc_ft_1536.jpg);background-repeat: no-repeat; background-position: bottom"></div>
          <blockquote><cite><a href="property.html">Best Slogan</a></cite>
            <p>ENERGYThe average person puts only 25% of his energy and ability into his work. The world takes off its hat to those who put in more than 50% of their capacity, and stands on its head for those few and far between souls who devote 100%.
            </p>
            <span class="pull-left"><b>Andrew Carnegie</b></span>
            <div class="property-icon"></div>
          </blockquote>
        </div>
      </div>
    </div><!-- /sl-slider -->

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
      <span></span>
    </nav>
  </div><!-- /slider-wrapper -->
</div>

<!-- property area -->
<div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>New Apartments</h2>
      </div>
    </div>

    <div class="row">
      <div class="proerty-th">
        <ng-container *ngFor="let i of newApartments">
          <div class="col-sm-6 col-md-3 p0" style="height: 360px">
          <div class="box-two proerty-item">
            <div class="item-thumb">
              <a routerLink="/detail/{{i.id}}"><img [src]="i.avatar" style="height: 170px;"></a>
            </div>
            <div class="item-entry overflow">
              <h5><a href="/" >{{i.name}} </a></h5>
              <div class="dot-hr"></div>
              <span class="pull-left"><b>Area :</b> 120m </span>
              <span class="proerty-price pull-right">$ 300,000</span>
            </div>
          </div>
        </div>
        </ng-container>
        <div class="col-sm-6 col-md-3 p0">
          <div class="box-tree more-proerty text-center">
            <div class="item-tree-icon">
              <a routerLink="/list"><i class="fa fa-th"></i></a>
            </div>
            <div class="more-entry overflow">
              <h5>Apartments</h5>
              <a routerLink="/list"><h5 class="tree-sub-ttl">Show all Apartments</h5></a>
              <a routerLink="/list">
                <button class="btn border-btn more-black" value="All properties">All Apartments</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Welcome area -->
<div class="Welcome-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 Welcome-entry  col-sm-12">
        <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
          <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2> W Land </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div  class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="row">
              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-home pe-4x"></i>
                  </div>
                  <h3>Many Apartments</h3>
                </div>
              </div>
              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-users pe-4x"></i>
                  </div>
                  <h3>Many Users</h3>
                </div>
              </div>


              <div class="col-xs-12 text-center">
                <i class="welcome-circle"></i>
              </div>

              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-notebook pe-4x"></i>
                  </div>
                  <h3>Easy to use</h3>
                </div>
              </div>
              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-help2 pe-4x"></i>
                  </div>
                  <h3>Many Interactions</h3>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--TESTIMONIALS -->
<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>Founder</h2>
      </div>
    </div>

    <div class="row">
      <div class="row testimonial">
        <div class="col-md-12">
          <div id="testimonial-slider">
            <div class="item">
              <div class="client-text">
                <p>Trai Nhật đó ..mề tan nì sa rà hê hề ..ề ê ề ê ề !</p>
                <h4><strong>VÕ TIẾN DŨNG, </strong><i>Việt Kiều Nhật</i></h4>
              </div>
              <div class="client-face wow fadeInRight" data-wow-delay=".9s">
                <img src="assets/img/dung-92.jpg" style="width: 110px; height: 110px" alt="">
              </div>
            </div>
            <div class="item">
              <div class="client-text">
                <p>Cuộc sống  chật hẹp trong những định kiến và suy nghĩ của con người.</p>
                <h4><strong>ĐỖ QUỐC VIỆT, </strong><i>Nàng Thơ</i></h4>
              </div>
              <div class="client-face">
                <img src="assets/img/vietcute.jpg" style="width: 110px; height: 110px" alt="">
              </div>
            </div>
            <div class="item">
              <div class="client-text">
                <p>Trà sữa phải có trân châu,<br>Thanh xuân đừng có sống lâu một mình...</p>
                <h4><strong>ĐỖ TIẾN THÀNH, </strong><i>Chủ Tịch</i></h4>
              </div>
              <div class="client-face">
                <img src="assets/img/dotienthanh.jpg" style="width: 110px; height: 110px" alt="">
              </div>
            </div>
            <div class="item">
              <div class="client-text">
                <p>.......................................................
                ............................</p>
                <h4><strong>NGUYỄN ĐỨC THÀNH, </strong><i>Bảo Vệ</i></h4>
              </div>
              <div class="client-face">
                <img src="assets/img/duc_thanh.jpg" style="width: 110px; height: 110px" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Count area -->
<div class="count-area">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>Information</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-users"></span>
              </div>
              <div class="chart" data-percent="5000">
                <h2>{{users.length}}</h2>
                <h5>Users</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-home">
                </span>
              </div>
              <div class="chart" data-percent="12000">
                <h2> {{apartments.length}}</h2>
                <h5>Apartments</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-home"></span>
              </div>
              <div class="chart" data-percent="12000">
                <h2>{{apartments1.length}}</h2>
                <h5>Apartments in stock</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-home"></span>
              </div>
              <div class="chart" data-percent="12000">
                <h2>{{apartments2.length}}</h2>
                <h5>Apartments is being rented</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- boy-sale area -->
<div class="boy-sale-area">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
        <div class="asks-first">
          <div class="asks-first-circle">
            <span class="fa fa-search"></span>
          </div>
          <div class="asks-first-info">
            <h2>ARE YOU LOOKING FOR A Property?</h2>
            <p> varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa</p>
          </div>
          <div class="asks-first-arrow">
            <a href="properties.html"><span class="fa fa-angle-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
        <div  class="asks-first">
          <div class="asks-first-circle">
            <span class="fa fa-usd"></span>
          </div>
          <div class="asks-first-info">
            <h2>DO YOU WANT TO SELL A Property?</h2>
            <p> varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa</p>
          </div>
          <div class="asks-first-arrow">
            <a href="properties.html"><span class="fa fa-angle-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <p  class="asks-call">QUESTIONS? CALL US  : <span class="strong"> 0988 888 888</span></p>
      </div>
    </div>
  </div>
</div>
